nav {
  margin: 0; }
  nav ul {
    list-style: none; }
  nav a {
    text-decoration: none; }

.footer p {
  font-family: "arial";
  font-size: 12px; }

body {
  background-color: tomato;
  margin: 20px; }
